<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="cpp/main.js"></script>
    <script src="gumwrapper.js"></script>
    <script src="index.js"></script>
    <title>Real time semi dense point tracking in javascript</title>
    <link rel="stylesheet" href="index.css">
    <script type='text/javascript'>
      //<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31356407-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    //]]>
    </script>
  </head>
  <body>
    <h2>Real time semi dense point tracking in javascript</h2>
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone></g:plusone>

    <p style="max-width: 600px">
    This is a demonstration of <a href="http://www.ensta-paristech.fr/~garrigues/video_extruder.html">Video Extruder</a>,
    a C++ real-time semi dense point tracker
    translated into javascript <a href='http://asmjs.org/'>asm.js</a> code thanks to <a href="https://github.com/kripken/emscripten">Emscripten</a>.
    <br/>
    The original C++ version targets multicore processors and GPUs and today's limitations of javascript
    constrains the algorithm to run on one single core. To compare it with the C++ version compiled with
    g++ -Ofast -march=navive running on one core, it runs approximately <b>5 times slower than native C++</b> with Firefox on a Xeon E5420 @ 2.50GHz.
    <br/>
    On the left display, the points that the algoritm tracks are shown in red. On the right, a
    semi-dense optical flow representation: The hue represents the orientation of the vectors and
    the intensity show the speed of the points.
    <br/>
    <b>This demo runs faster on Firefox.</b>
    </p>

    <div ng-controller="TrackingCtrl">
      <div class="infos" ng-show="video_width">
	<span class=number>{{n_points}}</span> tracked points.
	  <span class=number>{{ms_per_frame}}ms</span> per frame. 
	  <span class=number>{{us_per_point}}us</span> per points per frame. Resolution 
	  <span class=number>{{video_width}}x{{video_height}}</span>
      </div>

      <div class="ctrls" ng-show="video_width">
	Resolution:
	<button ng-click="set_size(original_video_width, original_video_height)">
	  {{original_video_width}}x{{original_video_height}}
	</button>
	<button ng-click="set_size(original_video_width/2, original_video_height/2)">
	  {{original_video_width/2}}x{{original_video_height/2}}
	</button>
	<button ng-click="set_size(original_video_width/4, original_video_height/4)">
	  {{original_video_width/4}}x{{original_video_height/4}}
	</button>

	<br/>
	Detector threshold (lower it for more points): <input ng-model='thresh' type=number value=10 />
      </div>
      <video id="video" style="display: none"></video>
      <canvas id="c1" style="display: none"></canvas>
      <canvas id="c2" style="display: block"></canvas>
      <canvas id="c3" style="display: block"></canvas>
      <div style="clear:both">

    </div>
  </body>
</html>
